<li class="chat-room" data-id="<%= chat_room.id %>"
  data-type="<%= chat_type chat_room %>">
  <span class="chat-list"><%= image_object chat_room %></span>
  <span>
    <div><%= chat_room.name %></div>
    <div class="badge"><%= unseen_number current_user, chat_room %></div>
  </span>
</li>
