<div class="progress <%= set_border_status status %>">
  <div class="progress-bar <%= set_background_color_status status %>" role="progressbar"
    aria-valuenow="<%= percent %>" aria-valuemin="0" aria-valuemax="100"
    style="width: <%= percentage_format percent %>;">
    <%= percentage_format percent %>
  </div>
</div>
