<div id="users">
  <%= form_for [:admin, @user] do |f| %>
    <div class="row">
      <%= render "shared/error_messages", object: @user %>
      <div class="col-md-6">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>

        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %><br>

        <% if current_user.is_admin? %>
          <%= f.label :role_id %>
          <%= f.collection_check_boxes :role_ids, @roles, :id, :name do |role| %>
            <span class="label label-default">
              <%= role.label do %>
                <%= role.check_box id: "check_role_#{role.object.role_type}" %> &nbsp;
                <%= role.text %> &nbsp;
              <% end %>
            </span>
          <% end %>
        <% end %>
        <br>
        <div class="profile-form">
          <%= f.label :trainer_id %>
          <%= f.select :trainer_id, options_for_select(@trainers.collect{|trainer| [trainer.name,
            trainer.id, {"data-location-id": trainer.profile_location_id}]},
            f.object.trainer_id), {include_blank: true}, class: "form-control" %>
        </div>
      </div>
    </div>
    <hr/>

    <%= render "profile_form", f: f %>

    <div class="row">
      <div class="col-md-12">
        <% if f.object.new_record? %>
          <%= f.submit t("buttons.create_and_continue"), name: "create_and_continue",
            class: "btn btn-primary pull-right btn-create-and-continue" %>
          <%= f.submit t("buttons.create"), class: "btn btn-primary pull-right" %>
        <% else %>
          <%= f.submit t("buttons.update"), class: "btn btn-primary pull-right" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<% [@location, @user_type, @university].each do |object| %>
  <div class="modal fade modal-form" id="<%= object.class.name.downcase %>-modal" role="dialog">
    <%= render "shared/quick_form", object: object, managers: @managers %>
  </div>
<% end %>
