<div id="users">
  <%= form_for [:admin, @user] do |f| %>
    <div class="row">
      <%= render "shared/error_messages", object: @user %>
      <div class="col-md-6">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>

        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %><br>

        <% if current_user.is_admin? %>
          <%= f.label :role_id %>
          <%= f.collection_check_boxes :role_ids, @roles, :id, :name do |role| %>
            <span class="label label-default">
              <%= role.label do %>
                <%= role.check_box %> &nbsp;
                <%= role.text %> &nbsp;
              <% end %>
            </span>
          <% end %>
        <% end %>
        <br>

        <%= f.label :trainer_id %>
        <%= f.select :trainer_id, options_for_select(@trainers.collect{|trainer| [trainer.name,
          trainer.id]}, f.object.trainer_id), {include_blank: true}, class: "form-control" %>
      </div>
    </div>
    <hr />

    <%= render "profile_form", f: f %>

    <div class="row">
      <div class="col-md-12">
        <%= f.submit (f.object.new_record? ? t("buttons.create") : t("buttons.update")),
          class: "btn btn-primary pull-right" %>
      </div>
    </div>
  <% end %>
</div>
