<footer class="footer-distributed">
  <div class="footer-left">
    <h3><span><%= t "layouts.footer.company" %></span></h3>
    <p class="footer-links">
      <%= link_to t("layouts.footer.home"), root_path %>
      <%= link_to t("layouts.footer.blog"), "#" %>
      <%= link_to t("layouts.footer.about"), "#" %>
      <%= link_to t("layouts.footer.faq"), "#" %>
      <%= link_to t("layouts.footer.contact"), "#" %>
    </p>
    <p class="footer-company-name"><%= t "layouts.footer.copy_right" %></p>
  </div>
  <div class="footer-center">
    <div class="footer-icon">
      <span>
        <i class="fa fa-map-marker"></i>
      </span>
      <p>
        <span>
          <%= t "layouts.footer.street" %>
        </span>
      </p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p><%= t "layouts.footer.phone" %></p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:hr_team@framgia.com"><%= t "layouts.footer.mail_to" %></a></p>
    </div>
  </div>
  <div class="footer-right">
    <p class="footer-company-about">
      <span><%= t "layouts.footer.about_us" %></span>
      <%= t "layouts.footer.content_about_us" %>
    </p>
    <div class="footer-icons">
      <a href="https://www.facebook.com/FramgiaVietnam" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="https://www.linkedin.com/company/3341218?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A3341218%2Cidx%3A2-1-2%2CtarId%3A1465497556522%2Ctas%3Aframgia%20vietnam" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/framgia/" target="_blank"><i class="fa fa-github"></i></a>
    </div>
  </div>
</footer>
