<div id="trainer-header">
  <header class="main-header">
    <%= link_to trainer_root_path, class: "logo" do %>
      <span class="logo-lg"><%= t :name_system %></span>
    <% end %>
    <nav class="navbar navbar-static-top" role="navigation">
      <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to chats_path do %>
              <i class="fa fa-weixin" aria-hidden="true"></i>
              <%= t "chats.chat" %>
              <span class="label label-danger dropdown-label number-message"></span>
            <% end %>
          </li>
          <li class="dropdown messages-menu">
            <%= link_to update_notifications_path, class: "dropdown-toggle",
              data: {toggle:"dropdown"}, method: :patch, remote: true do %>
              <i class="fa fa-bell-o"></i>
              <span class="label label-danger dropdown-label number-notification"><%= not_seen_notification %></span>
            <% end %>
            <ul class="dropdown-menu">
              <li class="header">
                <%= t "layouts.notifications.notification" %></li>
              <li>
                <div id="slimScrollDiv">
                  <ul class="menu" id="slimscroll_admin">
                    <% current_user.user_notifications.select_notifications
                      .limit(10).each do |user_notification| %>
                      <%= render "shared/notification",
                        notification: user_notification.notification %>
                    <% end %>
                  </ul>
                </div>
              </li>
              <li class="footer">
                <%= link_to t("layouts.notifications.view_all"), notifications_path %>
              </li>
            </ul>
          </li>
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= avatar_user_tag current_user, "user-image", Settings.image_size_50 %>
              <span class="hidden-xs"><%= current_user.name %></span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <%= avatar_user_tag current_user, "img-circle", Settings.image_size_50 %>
                <p><%= current_user.name %></p>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <%= link_to t("staticpages.profile"), trainer_user_path(current_user),
                    class: "btn btn-default btn-flat" %>
                </div>
                <div class="pull-right">
                  <%= link_to t("staticpages.logout"), destroy_user_session_path,
                    method: :delete, class: "btn btn-default btn-flat" %>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left">
          <%= avatar_user_tag current_user, "img-circle", Settings.image_size_50 %>
        </div>
        <div class="pull-left info">
          <p><%= current_user.name %></p>
          <a href="#"><i class="fa fa-circle text-success"></i><%= t :online %></a>
        </div>
      </div>
      <ul class="sidebar-menu">
        <% if can? :read, Course %>
          <li>
            <%= link_to trainer_courses_path do %>
              <i class="fa fa-calendar"></i><span><%= t "layouts.courses" %></span>
            <% end %>
          </li>
        <% end %>
        <% if can? :read, Subject %>
          <li>
            <%= link_to trainer_subjects_path do %>
              <i class="fa fa-laptop"></i><span><%= t "layouts.subjects" %></span>
            <% end %>
          </li>
        <% end %>
        <% if can? :read, User %>
          <li>
            <%= link_to trainer_users_path do %>
              <i class="fa fa-user"></i><span><%= t "layouts.users" %></span>
            <% end %>
          </li>
        <% end %>
        <% if can?(:read, Evaluation) || can?(:read, EvaluationTemplate) ||
          can?(:read, Rank) %>
          <li id="evaluations-header" class="treeview">
            <a href="javascript:void(0)">
              <i class="fa fa-book"></i><span><%= t "layouts.evaluations" %></span>
              <i class="fa fa-angle-left pull-right"></i>
            </a>
            <%= render "layouts/side_panel",
              object: [Evaluation, EvaluationTemplate, Rank] %>
          </li>
        <% end %>
        <% if can?(:read, Role) || can?(:read, Location) ||
          can?(:read, University) || can?(:read, Status) || can?(:read, UserType) %>
          <li id="user-profiles-header" class="treeview">
            <a href="javascript:void(0)">
              <i class="fa fa-book"></i><span><%= t "layouts.system" %></span>
              <i class="fa fa-angle-left pull-right"></i>
            </a>
            <%= render "layouts/side_panel", object: [Role, Location, University,
              Status, UserType] %>
          </li>
        <% end %>
      </ul>
    </section>
  </aside>
</div>
